  <div id="rightside">
    <div id="bluebox">
      <p>When you're ready:</p>
      1. press <span id="controls" style="text-align: center;" class="intLink" onclick="oTWExample1.play();">ME</span> <br>
      2. Fill in the blank <br>
    </div>
      <input action="action" type="button" id="back" value="Back" onclick="history.go(-1);" />
  </div>

  <div id="poeminput" >
    <form  id="poemtwo">
      <center><h3><input style="text-align:center;" type='text' placeholder='Your Poem Title' ng-model='meep.newpoem.title'><h3></center>
    <div id="first" >
    <p>$he went to the <input type="text" ng-model="meep.newpoem.inputone" onkeydown="enter2(this)"/></p>
    </div>

    <div id="second" style="display: none">
    <p>++ saw an array of <input type="text" ng-model="meep.newpoem.inputtwo" onkeydown="enter3(this)"/></p>
    </div>

    <div id="third" style="display: none">
    <p>with a batch job that looked like <input type="text" ng-model="meep.newpoem.inputthree" onkeydown="enter4(this)"/></p>
    </div>

    <div id="fourth" style="display: none">
     <p>or the aftermath of CoffeeScript gone kaput && <input type="text" ng-model="meep.newpoem.inputfour" onkeydown="enter5(this)"/></p>
   </div>

    <div id="fifth" style="display: none">
     <p>So she knew markup was needed, quickly, from  <input type="text" ng-model="meep.newpoem.inputfive" onkeydown="enterS(this)"/></p>
    </div>

    <div id="sharebutton" style="display: none">
      <input type="checkbox" class="checkbox" id="share" onclick=checked ng-model="meep.newpoem.shared">
      <label for="share" class="label">Share</label>
        <div class="social">
          <ul>
              <li class="entypo-twitter" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"></li>
             <li class="entypo-facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"></li>
            <li class="entypo-mail" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"></li>
          </ul>
        </div>
    </div>
    <center><input value="Submit!" type="button" ng-click="meep.addnewpoem()"></center>
    </form>
  </div>
